/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header and Navigation */
header {
    background-color: #ff9500;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
}

nav {
    margin-left: auto;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
}

/* Button Container */
.button-container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 20px;
}

.login-button, .home-button {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff00;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.login-button i, .home-button i {
    margin-right: 8px;
    font-size: 20px;
}

.login-button:hover, .home-button:hover {
    background-color: #926d398f;
    transform: scale(1.05);
}

.login-button:focus, .home-button:focus {
    outline: none;
}

/* Main and Footer */
main {
    padding: 2rem;
    flex: 1;
    background-color: #f4f4f4;
}

footer {
    background-color: #e09123;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* Section Title and Centered Content */
.section-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.centered-content {
    text-align: center;
    margin: 0 auto;
}

/* Places List */
#places-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

/* Place Card */
.place-card {
    position: relative;
    padding: 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Adjust image size */
.place-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
    display: block;
}

/* Place Card Info */
.place-card .info {
    padding: 10px;
}

.place-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.place-card p {
    font-size: 0.9rem;
    color: #777;
}

.place-card .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place-card .price {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

.place-card .rating {
    display: flex;
    align-items: center;
}

.place-card .rating span {
    margin-left: 5px;
    color: #ff9500;
}

.place-card .actions {
    margin-top: auto;
    display: flex;
    justify-content: center; /* Center actions for better alignment */
}

/* Details Button */
.details-button {
    background-color: #e09123;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s, border-color 0.3s;
    flex: 1; /* Make the button take full width of its container */
}

/* Adjust the size of the button if only one place card is visible */
.place-card:only-child .details-button {
    padding: 0.5rem 1rem; /* Smaller padding if only one card */
}

.details-button:hover {
    background-color: #d08020;
    border-color: #d08020;
}

/* Favorite Icon */
.place-card .favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.place-card .favorite img {
    width: 20px;
    height: 20px;
}

/* Review Styles */
.place-details-page #reviews {
    width: 100%;
    max-width: 800px;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-card {
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.review-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.review-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1rem;
}

.review-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-name, .rating {
    margin-bottom: 0.5rem;
}

.comment {
    margin-top: 1rem;
    text-align: right;
}

/* Review Form */
#add-review {
    margin-top: 2rem;
    width: 100%;
    max-width: 800px;
}

.rating {
    display: flex;
    gap: 0.1rem;
}

.star {
    width: 1rem;
    height: 1rem;
    background: url('star-empty.svg') no-repeat center center;
    background-size: contain;
}

.star.filled {
    background: url('star-filled.svg') no-repeat center center;
    background-size: contain;
}

#add-review h2 {
    font-size: 1.50rem;
    margin-bottom: 1.5rem;
}

#review-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#review-form label {
    font-weight: bold;
}

#review-form textarea,
#review-form select {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#review-form button {
    background-color: #e09123;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}

#review-form button:hover {
    background-color: #d08020;
}

/* Login Form */
#login-form {
    margin: 20px auto;
    width: 100%;
    max-width: 550px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#login-form h2 {
    margin-top: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form label {
    margin-top: 25px;
    margin-bottom: 10px;
}

#login-form input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-form button {
    background-color: #e09123;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-top: 20px;
}

/* Add Review Form */
#addreview-form {
    margin: 20px auto;
    width: 100%;
    max-width: 550px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#addreview-form h2 {
    margin-top: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.addreview-form-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addreview-form input,
#addreview-form textarea,
#addreview-form select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addreview-form button {
    background-color: #e09123;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-top: 20px;
}

/* Logout Button */
.logout-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #ff4b5d00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.logout-button:hover {
    background-color: #e7af608f;
}
